#chat-container
{
    background-color: rgb(226, 242, 255);
    border: 2px solid #272643;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
}
#chat-title
{
    font-size: 20px;
    padding: 20px;
    background-color: #272643;
    color: white;
   
}
#chat-messages
{
  height:410px;
  padding: 20px;
  margin-bottom: 13px;
  overflow: scroll;
  overflow-x: hidden; 
 display: flex;
 flex-direction: column;

}
.chat-message-own
{
    box-shadow: 1px 1px 11px 1px  rgb(98, 98, 98);
    background-color: rgb(214, 236, 255);
    max-width: 600px;
    cursor: pointer;
    margin: 10px;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
    justify-items:right;
    
}
.message-own
{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-right: 50px;
    width: auto;
    word-wrap:break-word;
}
.message-others
{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-left: 50px;
    width: auto;
    word-wrap:break-word;
}
.chat-message-content
{
    padding: 10px;
    display: inline;
    font-size: 18px;
}
.chat-message-name
{
    color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
    margin:0px 0px 10px 0px;
    background-color: #272643;
    
}
.chat-message-name h2{
    display: inline;
    font-size: 15px;
    margin-left: 20px;
}
#chat-input input
{
    display: inline-block;
    width: 90%;
    height: 30px;
    font-size: 20px;
    padding:20px;
    background-color:aliceblue;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 2px solid black;
}

#chat-input button{
    width: 100px;
    display: inline-block;
    margin: 10px;
}

.del-icon
{
    color: red;
}