body{
    background-color: aliceblue;
}
.container {
    margin: 61px auto 100px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
    width: 400px;
    background-color: rgb(230, 243, 255);
    border-radius: 15px;
    /* box-shadow: 2px 2px 10px 1px rgb(102, 3, 102); */
    box-shadow: 2px 2px 10px 1px #333;  
    overflow: hidden;
    padding: 30px;
    position: relative;
  }
 
  .question{
    letter-spacing: 1px;
    margin:8px;
    box-shadow: 0px 0px 10px 1px #a2a3a3;
    border-radius: 5px;
    padding:10px;
    font-size: 19px;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 100%;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #question-number{
    margin-right: 10px;
  }
  .option-container{
    display: flex;
    flex-direction: column;
    margin:6px 4px;    
    width: 100%;
    padding: 10px;
  }
  /* .option-container input{
    visibility: hidden;    
  } */
  .option-btn{
    box-shadow: 0px 0px 4px 1px rgb(128, 123, 123);
    padding: 5px;
    border-radius: 3px;
    border:none;
    outline: none;
    transition: 0.3s;
    margin: 5px;
    min-height: 30px;
    background-color: rgb(228, 251, 255);
    color: black;
  }
  
  .checked{
    background-color: rgb(200, 224, 241);
    color:rgb(0, 0, 0);
    box-shadow: 3px 3px 4px 1px rgb(78, 69, 78);
  }
  .option-btn:hover{
    color:white;
  }
  #next-button{
    padding:10px;
    border:none;
    background-color: rgb(209, 241, 255);
    background-color: #276272;
    color:white;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgb(127, 109, 109);
    font-size: larger;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.2s;
    width:100px;
    bottom: 15px;
  }
  #next-button:active{
    box-shadow:none;    
  }

  .show-score{
    top:30%;
    font-size: 40px;
    text-align: center;  
    width: 100%;
    padding: 20px;
    display: block;
  }
  .result
  {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
  }